<p id="notice"><%= notice %></p>

<h1><%= t 'tasks.index.tasks' %></h1>

<table>
  <%= form_with(scope: :search, url:tasks_path, method: :get,local: true)do |f| %>
  <tr>
    <th><%= f.label(:name, 'タスク名') %></th>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit('検索')%></td>
  </tr>
  <% end %>
</table>
<table>
  <thead>
    <tr>
      <th><%= t 'tasks.index.name' %></th>
      <th><%= t 'tasks.index.description' %></th>
      <th><%= t 'tasks.index.deadline' %></th>
      <th><%= t 'tasks.index.status' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task_row"><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= link_to (t '.to_show_page'), task %></td>
        <td><%= link_to (t '.to_edit_page'), edit_task_path(task) %></td>
        <td><%= link_to (t '.to_delete'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t '.to_new_page'), new_task_path %>

<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
