<div class="wrapper">
  <div class="field"><strong><%= t 'tasks.show.name' %></strong>
    <%= @task.name %>
  </div>
  <div class="field">
    <strong><%= t 'tasks.show.description' %></strong>
    <%= @task.description %>
  </div>
  <div class="field">
    <strong><%= t 'tasks.show.deadline' %></strong>
    <%= @task.deadline %>
  </div>
  <div class="field">
    <strong><%= t 'tasks.show.status' %></strong>
    <%= @task.status %>
  </div>
  <div class="field">
    <strong><%= t 'tasks.show.priority' %></strong>
    <%= @task.priority %>
  </div>
  <div class="field">
    <strong><%= t 'tasks.show.label' %></strong>
    <% @task.labels.pluck(:name).each do |label| %>
    <span class="labels_test"><%= label %></span>
    <% end %>
  </div>
</div>
<br>
<%= link_to (t '.to_edit_page'), edit_task_path(@task) %> |
<%= link_to (t '.to_back_page'), tasks_path %>
